<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="marc.hi.ehrs.svc.core" type="MARC.HI.EHRS.SVC.Core.Configuration.HostConfigurationSectionHandler, MARC.HI.EHRS.SVC.Core, Version=2.0.0.0"/>
  </configSections>
  <marc.hi.ehrs.svc.core>
    <serviceAssemblies>
      <add assembly="MARC.HI.EHRS.SVC.Core.dll" />
      <add assembly="PatientGenerator.Core.dll" />
      <add assembly="PatientGenerator.FHIR.dll" />
      <add assembly="PatientGenerator.HL7v2.dll" />
      <add assembly="PatientGenerator.HL7v3.dll" />
    </serviceAssemblies>
    <serviceProviders>
      <!--<add assembly="PatientGenerator.Core.dll" />
      <add assembly="PatientGenerator.FHIR.dll" />
      <add assembly="PatientGenerator.HL7v2.dll" />
      <add assembly="PatientGenerator.HL7v3.dll" />-->
    </serviceProviders>
  </marc.hi.ehrs.svc.core>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>