<?xml version="1.0" encoding="utf-8"?>
<!--
 - Copyright 2016-2017 Mohawk College of Applied Arts and Technology
 -
 - Licensed under the Apache License, Version 2.0 (the "License"); you
 - may not use this file except in compliance with the License. You may
 - obtain a copy of the License at
 -
 - http://www.apache.org/licenses/LICENSE-2.0
 -
 - Unless required by applicable law or agreed to in writing, software
 - distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 - WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 - License for the specific language governing permissions and limitations under
 - the License.
 -
 - User: Nityan
 - Date: 2017-4-9
 -->
<packages>
  <package id="Hl7.Fhir.STU3" version="0.93.0-alpha1" targetFramework="net46" />
  <package id="Hl7.Fhir.Support" version="0.4.2-alpha4" targetFramework="net46" />
  <package id="Hl7.FhirPath" version="0.4.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net46" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net46" />
  <package id="System.ComponentModel.Annotations" version="4.3.0" targetFramework="net46" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.3.0" targetFramework="net46" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net46" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net46" />
</packages>