<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="marc.hi.ehrs.svc.core" type="MARC.HI.EHRS.SVC.Core.Configuration.HostConfigurationSectionHandler, MARC.HI.EHRS.SVC.Core, Version=1.0.0.0"/>
  </configSections>
  <marc.hi.ehrs.svc.core>
    <serviceAssemblies>
      <add assembly="MARC.HI.EHRS.SVC.Core.dll" />
      <add assembly="PatientGenerator.Core.dll" />
      <add assembly="PatientGenerator.FHIR.dll" />
      <add assembly="PatientGenerator.HL7v2.dll" />
      <add assembly="PatientGenerator.HL7v3.dll" />
    </serviceAssemblies>
    <serviceProviders>
      <!--<add assembly="PatientGenerator.Core.dll" />
      <add assembly="PatientGenerator.FHIR.dll" />
      <add assembly="PatientGenerator.HL7v2.dll" />
      <add assembly="PatientGenerator.HL7v3.dll" />-->
    </serviceProviders>
  </marc.hi.ehrs.svc.core>
  <system.diagnostics>
    <!--<sharedListeners>
      <add name="rollOver" type="MARC.HI.EHRS.SVC.Core.Logging.RollOverTextWriterTraceListener, MARC.HI.EHRS.SVC.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" initializeData="hns.log">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error, Information, Warning" />
      </add>
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add name="rollOver" />
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>-->
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://crtest.marc-hi.ca:8080/pcs" binding="basicHttpBinding"
        contract="MARC.Everest.Connectors.WCF.Core.IConnectorContract"
        name="cr" />
    </client>
  </system.serviceModel>
</configuration>