<?xml version="1.0" encoding="utf-8"?>
<!--
 - Copyright 2016-2016 Mohawk College of Applied Arts and Technology
 -
 - Licensed under the Apache License, Version 2.0 (the "License"); you
 - may not use this file except in compliance with the License. You may
 - obtain a copy of the License at
 -
 - http://www.apache.org/licenses/LICENSE-2.0
 -
 - Unless required by applicable law or agreed to in writing, software
 - distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 - WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 - License for the specific language governing permissions and limitations under
 - the License.
 -
 - User: Nityan
 - Date: 2016-2-12
 -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="marc.hi.ehrs.svc.core" type="MARC.HI.EHRS.SVC.Core.HostConfigurationSectionHandler, MARC.HI.EHRS.SVC.Core, Version=1.0.0.0" />
    <section name="medic.patientgen.fhir" type="PatientGenerator.FHIR.Configuration.ConfigurationSectionHandler, PatientGenerator.FHIR, Version=1.0.0.0" />
    <section name="medic.patientgen.hl7v2" type="PatientGenerator.HL7v2.Configuration.ConfigurationSectionHandler, PatientGenerator.HL7v2, Version=1.0.0.0" />
  </configSections>
  <connectionStrings>
    <add name="PatientGeneratorDbConnection" connectionString="data source=142.222.16.16;database=PatientGenerator;user id=sa;password=Mohawk1;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CommonFile" value="Resources\CommonData.xml"/>
  </appSettings>
  <marc.hi.ehrs.svc.core>
    <serviceAssemblies>
      <add assembly="PatientGenerator.Core.dll" />
      <add assembly="PatientGenerator.FHIR.dll" />
      <add assembly="PatientGenerator.HL7v2.dll" />
      <add assembly="PatientGenerator.HL7v3.dll" />
      <add assembly="PatientGenerator.Messaging.dll" />
      <add assembly="PatientGenerator.Persistence.dll" />
      <add assembly="PatientGenerator.Randomizer.dll" />
    </serviceAssemblies>
    <serviceProviders>
      <!--<add type="PatientGenerator.FHIR.FhirSenderService, PatientGenerator.FHIR, Version=1.0.0.0" />
      <add type="PatientGenerator.HL7v2.HL7v2SenderService, PatientGenerator.HL7v2, Version=1.0.0.0" />
      <add type="PatientGenerator.HL7v3.HL7v3SenderService, PatientGenerator.HL7v3, Version=1.0.0.0" />-->
      <add type="PatientGenerator.Messaging.MessageHandlerService, PatientGenerator.Messaging, Version=1.0.0.0" />
      <!--<add type="PatientGenerator.Persistence.DAL.PersistenceHandlerService, PatientGenerator.Persistence, Version=1.0.0.0" />-->
      <add type="PatientGenerator.Randomizer.RandomizerService, PatientGenerator.Randomizer, Version=1.0.0.0" />
    </serviceProviders>
  </marc.hi.ehrs.svc.core>
  <medic.patientgen.fhir>
    <endpoints>
      <!--<endpoint name="cr" address="http://crtest.marc-hi.ca:8080/fhir" />-->
      <endpoint name="uhn_internal_v1" address="http://fhir.marc-hi.ca:8080/dstu1/base" />
      <!--<endpoint name="uhn_v1" address="http://fhirtest.uhn.ca/baseDstu1" />
      <endpoint name="uhn_v2" address="http://fhirtest.uhn.ca/baseDstu2"-->
    </endpoints>
  </medic.patientgen.fhir>
  <medic.patientgen.hl7v2>
    <endpoints>
      <endpoint name="crtest" address="mllp://crtest.marc-hi.ca:2100" />
    </endpoints>
  </medic.patientgen.hl7v2>
  <system.diagnostics>
    <sharedListeners>
      <add name="rollOver" type="MARC.HI.EHRS.SVC.Core.Logging.RollOverTextWriterTraceListener, MARC.HI.EHRS.SVC.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" initializeData="hns.log">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error, Information, Warning" />
      </add>
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <!--<add name="rollOver" />-->
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GenerationService" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="PatientGenerator.Messaging.MessageReceiver.GenerationService" behaviorConfiguration="generation_service_behaviour">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/patientgenerator" />
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:8000/patientgenerator" binding="basicHttpBinding" bindingConfiguration="GenerationService" contract="PatientGenerator.Messaging.Services.IGenerationService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="generation_service_behaviour">
          <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://crtest.marc-hi.ca:8080/pcs" binding="basicHttpBinding" contract="MARC.Everest.Connectors.WCF.Core.IConnectorContract" name="cr" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>